html{
	font-family: sans-serif;
}

a{
	text-decoration: none;
	outline: none;
	color: red;
	
}

a:hover{
	cursor: pointer;
}

.service{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 300px;
  height: 400px;
  margin: auto;
  font-family: arial;  
  margin-bottom: 10px;
}

.service img {
	height: 200px;
	margin-top: 5px;
}

.service .list-group-item:first-child{
	height: 70px;
}

.service .list-group-item{
	height: 40px;
}

.btn-buy{
	border: none;
	outline: 0;
	padding: 12px;
	color: white;
	background-color: black;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}

.price {
	color: black;
	font-weight: bold;
}

.comment{
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.2);
	border-radius: 10px;
	padding: 8px;
}
.comment .header{
	border-bottom: 2px solid black;
}

.service-detail{
	width: 100%;
}

.header-title {
	color: yellow;
}
